// button styles
// images styles
// wrapper styles

// wrapper

.wrapper {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

button {
    font-size: 1rem;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
}