// home page header styles
.home {
    background-color: $primary;

    .flexContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;

        // adding drop shadow to header image
        .imageContainer {
            position: relative;
            top: 50px;
            box-shadow: 15px 15px $white;
            padding-left: 20px;
        }

        h1 {
            font-size: 6rem;
        }
    }
}

// positioning the image with the text "its all about"
.headerText {
    position: relative;

    img {
        position: absolute;
        top: -75px;
        left: -75px;
    }
}

// blog and contact header styles
.blog {
    background-color: $whiteShade;
    .wrapper {
        position: relative;
        top: -50px;
    }
}