// @media (max-width: 1200px) {

// }

// mobile
@media (max-width: 480px) {

    // home page styles
    // base styles & typography
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    html {
        font-size: 100%;
    }

    p {
        line-height: 25px;
    }

    section p {
        padding: 10px 0;
    }

    h1 {
        line-height: 50px;
    }



    // nav styles
    .topNav {
        ul {
            justify-content: space-between;
            padding: 10px 0;

            li:nth-child(3) {
                display: none;
            }
        }

    }

    //header styles

    .home {
        .flexContainer {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            .imageContainer {
                padding: 0;
                position: static;
                box-shadow: none;
                width: 50%;
            }

            .headerText {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 10px;

                h1 {
                    font-size: 2rem;
                }

                img {
                    top: -20px;
                    left: -45px;
                    scale: 35%;
                }
            }


        }

        .wrapper {
            margin: 0;
            width: 100%;
        }
    }

    //section styles
    .aboutSophie {}

    // blog & contact page header


    // form styles {
    form {
        flex-wrap: wrap;

        .flexContainer {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        input {
            width: 100%;
            margin: 10px 0 0 0;

        }

        textarea {
            margin-top: 10px;
        }
    }

    // blog page
    .blog {
        // blog and contact page header
        h1 {
            font-size: 2rem;
        }

        .wrapper {
            top: -25px
        }

        .flexContainer {
            flex-wrap: wrap;
            
        }

        aside {
            width: 100%;
            margin: 0;
            section {
                margin-right: 0;
                padding: 20px
            }
        }

        .blogPost {
            width: 100%;
            margin: 0;
            article {
                padding: 20px;
                margin-bottom: 15px;
            }
        }
    }



    // contact page
    .contact {
        .flexContainer {
            flex-wrap: wrap
        }

        aside {
            width: 100%;
            margin: 0 0 10px 0;
        }

        form {
            width: 100%;
        }
    }
}