@media (max-width: 1200px) {

    // home page styles
    // base styles & typography
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    section p {
        padding: 20px 0;
        font-size: 0.95rem;
    }


    .whoIsSophie,
    .gallery,
    .middleNav,
    .sophiesJourney {
        padding: 40px 0;
    }


    //header styles
    .home {
        .flexContainer {
            h1 {
                font-size: 4rem;
            }

            .headerText {
                padding-left: 10px;
            }

        }
    }

    .headerText {
        img {
            scale: 65%;
            top: -70%;
        }
    }

    //section styles
    .aboutSophie {
        .wrapper {
            margin: 0;
            width: 100%;
        }

        .flexContainer {
            flex-wrap: wrap;
        }

        .imageContainer {
            width: 50%;
            padding: 0;
        }

        .textContainer {
            width: 50%;
            margin: 0 auto;
            padding: 20px 20px;
            justify-content: space-evenly;
        }

    }



    // form styles {
    form {
        flex-wrap: wrap;

        .flexContainer {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        input {
            width: 100%;
            margin: 10px 0 0 0;

        }

        textarea {
            margin-top: 10px;
        }
    }

    // contact page
    .contact {
        .flexContainer {
            #name {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 900px) {

    // home page styles
    // base styles & typography
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    html {
        font-size: 100%;
    }

    p {
        line-height: 25px;
    }

    section p {
        padding: 10px 0;
    }

    h1 {
        line-height: 50px;
    }

    .whoIsSophie,
    .gallery,
    .middleNav,
    .sophiesJourney {
        padding: 30px 0;
    }

    //header styles
    .home {
        .flexContainer {
            .imageContainer {
                padding: 0;
                top: 20px;
            }
        }
    }

    .headerText {
        position: relative;

        img {
            position: absolute;
            top: -70px;
            left: -75px;
            scale: 55%;
        }
    }

    //section styles
    .whoIsSophie {
        padding: 30px 0;
    }

    .aboutSophie {
        .flexContainer {
            flex-wrap: nowrap;
            flex-direction: column;
            align-content: stretch;

            .imageContainer {
                width: 100%;
                padding: 0;

                img {
                    width: 100%;
                }
            }

            .textContainer {
                width: 100%;
                padding: 20px 20px;
            }

            .travels {
                text-align: left;
                align-items: flex-start;
                order: +1;
            }
        }
    }

    .middleNav {
        ul {
            flex-direction: column;

            li {
                width: 100%;
                margin: 0;

                p {
                    padding: 10px 0;
                }
            }
        }
    }

    .imageGallery {
        .gallery {
            li {
                width: calc(100% / 3 - 20px);
                margin-right: 20px;
            }


        }
    }

    // form styles {
    form {
        flex-wrap: wrap;

        .flexContainer {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        input {
            width: 100%;
            margin: 10px 0 0 0;

        }

        textarea {
            margin-top: 10px;
        }
    }

    // blog page
    .blog {

        .wrapper {
            top: -25px
        }

        .flexContainer {
            flex-wrap: wrap;

        }

        aside {
            section {
                margin-right: 20px;
                padding: 15px;
                p {
                    padding-top: 5px;
                }
                .imageContainer {
                    padding-bottom: 5px;
                }
                ul {
                    padding-top: 0;
                    line-height: 25px;
                }
            }
        }

        .blogPost {
            article {
                padding: 20px;
                margin-bottom: 15px;
            }
        }
    }

    // contact page
    .contact {
        .flexContainer {
            flex-wrap: wrap
        }

        aside {
            width: 100%;
            margin: 0 0 10px 0;
        }

        form {
            width: 100%;
        }
    }
}

// mobile
@media (max-width: 600px) {

    // home page styles
    // base styles & typography
    .wrapper {
        width: 90%;
        margin: 0 auto;
    }

    html {
        font-size: 100%;
    }

    p {
        line-height: 25px;
    }

    section p {
        padding: 10px 0;
    }

    h1 {
        line-height: 50px;
    }

    .whoIsSophie,
    .gallery,
    .middleNav,
    .sophiesJourney {
        padding: 30px 0;
    }

    // nav styles
    .topNav {
        ul {
            justify-content: space-between;
            padding: 10px 0;

            li:nth-child(3) {
                display: none;
            }
        }

    }

    //header styles
    .home {
        .flexContainer {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;

            .imageContainer {
                padding: 0;
                position: static;
                box-shadow: none;
                width: 50%;
            }

            .headerText {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                position: relative;

                h1 {
                    font-size: 2rem;
                }

                img {
                    position: absolute;
                    top: -40px;
                    left: -45px;
                    scale: 35%;
                }
            }


        }

        .wrapper {
            margin: 0;
            width: 100%;
        }
    }

    //section styles
    .whoIsSophie {
        padding: 30px 0;
    }

    .aboutSophie {
        .wrapper {
            margin: 0;
            width: 100%;
        }

        .flexContainer {
            flex-wrap: wrap;
        }

        .imageContainer {
            width: 100%;
            padding: 0;
        }

        .textContainer {
            width: 90%;
            margin: 0 auto;
            padding: 20px 0;
        }

        .travels {
            text-align: left;
            align-items: flex-start;
            order: +1;
        }
    }

    .middleNav {
        ul {
            flex-direction: column;

            li {
                width: 100%;
                margin: 0;

                p {
                    padding: 10px 0;
                }
            }
        }
    }

    .sophiesJourney {
        .textContainer {
            width: 100%;
            padding: 0;
            // h2 {
            //     font-size: 1.9rem;
            // }
        }

        .imageContainer {
            padding-bottom: 20px;
            width: 100%;

            img {
                box-shadow: none;
                border: 10px solid $primary;
            }
        }
    }

    .imageGallery {
        .gallery {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            li {
                width: 100%;
                margin: 0;
                padding-bottom: 20px;
            }

            li:last-child {
                padding-bottom: 0;
            }
        }
    }



    // form styles {
    form {
        flex-wrap: wrap;

        .flexContainer {
            flex-wrap: wrap;
            justify-content: space-between;
        }

        input {
            width: 100%;
            margin: 10px 0 0 0;

        }

        textarea {
            margin-top: 10px;
        }
    }

    // blog page
    .blog {

        // blog and contact page header
        h1 {
            font-size: 2rem;
        }

        .wrapper {
            top: -25px
        }

        .flexContainer {
            flex-wrap: wrap;

        }

        aside {
            width: 100%;
            margin: 0;

            section {
                margin-right: 0;
                padding: 20px;
                .imageContainer {
                    img {
                        width: 100%;
                    }
                }
            }
        }

        .blogPost {
            width: 100%;
            margin: 0;

            article {
                padding: 20px;
                margin-bottom: 15px;
            }
        }
    }

    // contact page
    .contact {
        .flexContainer {
            flex-wrap: wrap
        }

        aside {
            width: 100%;
            margin: 0 0 10px 0;
        }

        form {
            width: 100%;
        }
    }
}