// make sticky to anchor it to the top
// flex it so it horizontal

// item in the nav shoul be white when selected

// change the way I wrote the nav html? 
// instead of two ul make one ul and style the sophie header by targeting the child

// setting top nav typography
.topNav a {
    font-size: 1rem;
    text-align: right;
    line-height: 29px;
    letter-spacing: 1px;
}