// nav bar styles
.topNav {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: $primary;

    ul {
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        padding: 30px 0;

        // adding styles to the "Sophie" title
        li:nth-child(3) {
            font-size: 2.1rem;
            font-family: $headingFont;
        }
    }

    // changing link colors on hover and click
    a {
        &:hover {
            color: $white;
        }

        &:focus {
            color: $white;
        }
    }
}